<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Alta de usuario</h1>
    <form action="/create" method="post">
      <label for="name">Nombre</label><br />
      <input type="text" name="name" /><br />
      <label for="surname">Apellidos</label><br />
      <input type="text" name="surname" /><br />
      <label for="user">Usuario</label><br />
      <input type="text" name="user" /><br />
      <label for="pass">Contraseña</label><br />
      <input type="password" name="pass" /><br />
      <label for="email">Correo electrónico</label><br />
      <input type="text" name="email" /><br /><br />
      <button type="submit">Registrar</button>
    </form>
  </body>
</html>
