<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Active Directory</h1>
    <form action="/login" method="POST">
      <label for="user">Usuario</label><br />
      <input type="text" name="user" /><br />
      <label for="pass">Password</label><br />
      <input type="text" name="pass" /><br /><br />
      <button type="submit">Validar</button>
    </form>
  </body>
</html>
